*{padding:0;margin:0;}
a{text-decoration:none; color:#006699; font-size:13px}
a:hover{text-decoration:underline; color:#FF0000}

table{
	border-collapse:collapse;
}
table td,table th{border:#E0E0E0 2px solid;height: 30px;text-align: center;}
table tr:hover{background: #D3DCE3;}


.member-page{
	display:inline-block;
}
.member-page a{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 10px;background:#EBEBEB;color:#333333;border:#CCCCCC thin solid;}

.member-page a.on{background:#FE7203;color: #fff;border:#FE7203 thin solid;}

.w10{width:10%}
.w15{width:15%}
.w20{width:20%}
.w30{width:30%}
.w40{width:40%}
.w50{width:50%}
.w60{width:60%}
.w70{width:70%}
.w80{width:80%}
.w90{width:90%}

.wp100{width:100px}
.wp200{width:200px}
.wp300{width:300px}
.wp400{width:400px}
.wp500{width:500px}
.wp600{width:600px}
.wp700{width:700px}
.wp800{width:800px}

/**msg**/
.notice{
	width:950px;
	font-size: 13px;
	margin:0 auto;
	border-radius:5px;
}
.dialog{
	border-radius:5px;
	width:200px;
	font-size: 13px;
	position:absolute;
	filter:alpha(opacity=90);
	opacity:0.9;	
}
.notice.success,.dialog.success{
	background:#EBF8A4 url("/style/img/msg_success.png");
    background-position: 5px 50%;
    background-repeat: no-repeat;
	border:#a2d246 thin solid;
	padding:5px 0 5px 25px;
}
.notice.error,.dialog.error{
	background:#FFC0CB url("/style/img/msg_error.png");
    background-position: 5px 50%;
    background-repeat: no-repeat;
	border:#FA4665 thin solid;
	padding:5px 0 5px 25px;	
}
.dialog.alert{
	background:#000000;
	color:#FFFFFF; 
	width:200px;
	padding:10px 5px;
	text-align:center;
}
/**button**/
.btn-grey{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:.5em 2em;background:#EBEBEB;color:#333333;border:#CCCCCC thin solid;}
.btn-grey-s{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 15px;background:#EBEBEB;color:#333333;border:#CCCCCC thin solid;}
.btn-grey-s:hover,.btn-grey-s.on,.btn-grey:hover,.btn-grey.on{background:#F4F4F4;color:#333333;text-decoration:none;}

.btn-blue{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:.5em 2em;background:#308EB5;color: #fff;border:#308EB5 thin solid;}
.btn-blue-s{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 15px;background:#308EB5;color: #fff;border:#308EB5 thin solid;}
.btn-blue-s:hover,.btn-blue-s.on,.btn-blue:hover,.btn-blue.on{background:#00B7D6;color: #fff;text-decoration:none;}

.btn-green{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:.5em 2em;background:#8DB800;color: #fff;border:#79B800 thin solid;}
.btn-green-s{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 15px;background:#8DB800;color: #fff;border:#79B800 thin solid;}
.btn-green-s:hover,.btn-green-s.on,.btn-green:hover,.btn-green.on{background:#AED505;color: #fff;text-decoration:none;}

.btn-red{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:.5em 2em;background:#E65E42;color: #fff;border:#FA7D17 thin solid;}
.btn-red-s{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 15px;background:#E65E42;color: #fff;border:#FA7D17 thin solid;}
.btn-red-s:hover,.btn-red-s.on,.btn-red:hover,.btn-red.on{background:#FF734A;color: #fff;text-decoration:none;}

.btn-grey.checked,.btn-orange{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:.5em 2em;background:#FE7203;color: #fff;border:#FE7203 thin solid;}
.btn-grey-s.checked,.btn-orange-s{cursor: pointer;display: inline-block;vertical-align: middle;text-align:center;padding:5px 15px;background:#FE7203;color: #fff;border:#FE7203 thin solid;}
.btn-orange-s:hover,.btn-grey-s.on,.btn-grey-s.checked:hover,.btn-grey.checked:hover,.btn-orange:hover,.btn-orange.on{background:#FC9442;color: #fff;text-decoration:none;}